---
import jsontext from '../texts.json';
interface Props {
	red: string;
	alt: string;
	link: string;
}

const { red, alt, link } = Astro.props;
---

<a
	href={link}
	target='_blank'
	class='rounded-full bg-primarybg w-14 h-14 hover:cursor-pointer flex justify-center items-center stroke-secondarybg'>
	<img src={red} alt={alt} />
</a>
