---
interface Props {
	red: string;
	alt: string;
	link: string;
}

const { red, alt, link } = Astro.props;
---

<a
	href={link}
	target='_blank'
	class='shadow-sm rounded-full hover:bg-slate-800 duration-200 transition-all bg-primarybg w-12 h-12 hover:cursor-pointer flex justify-center items-center'>
	<img class='w-7 fill-amber-50' src={red} alt={alt} />
</a>
